body {
  background-color: rgb(165, 158, 217);
  
}

.all-the-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  margin: 0px 100px 0px 100px;
}

/* Heading styles */
h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #533795;
}

#favLink {
  margin-bottom: 10px;
  text-decoration: underline;
  color: #533795;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

#goBack {
  margin-bottom: 30px;
  visibility: hidden;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

/* Flex container for label and dropdown */
.label-dropdown-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 450px;
  color: #533795;
  font-weight: bolder;
}

/* Label styles */
label {
  margin-right: 10px; /* Add some space between label and dropdown */
}

/* Select styles */
select {
  padding: 10px; /* Add padding */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add border radius */
  font-size: 1rem; /* Set font size */
  width: 100%;
  width: 300px;
}

#fav {
  visibility: hidden;
  color:#c1b4dd;
  border-top-right-radius: 2%;
}

/* Paragraph styles */
p {
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

/* Image carousel container styles */
#imageCarousel {
  visibility: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  padding: 20px;
}

/* Image styles */
img {
  max-width: 400px;
  max-height: 350px;
  min-width: 400px;
  min-height: 350px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #e9e6e6;
  margin: 10px 10px 30px 10px;
}

/* Button styles */
button {
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #8066bc;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}


#btnLeft:disabled {
  color: #8066bca2;
  cursor: not-allowed;
}

#btnRight:disabled {
  color: #8066bca2;
  cursor: not-allowed;
}

#fav:hover::after {
  font-size: small;
  ;
}
